#chat-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    border: 1px solid #ff0095;
    padding: 10px;
    background-color: #ff00bf;
}

#messages {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ae00ff;
    padding: 10px;
    background-color: #d400ff;
}

#message-input {
    width: calc(100% - 90px);
}
